# MongoDB Configuration
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/Study_Notion

# Cloudinary Configuration
CLOUD_NAME=your_cloud_name
API_KEY=your_api_key
API_SECRET=your_api_secret

# Server Configuration
PORT=5000

# Client Configuration
CLIENT_URL=http://localhost:3000
